* {
  text-align: center;
}
.App {
  text-align: center;
  min-width: 100vw;
  max-width: 100vw;
  left: 5%;
}
html {
  width: 95%;
}

.intro {
  margin-top: 10%;
  position: relative;
  left: 3%;
  font-size: 2.7rem;
}
.navigate {
  max-width: 95%;
  left: 5%;
  width: 100vw;
}
.menuBtn {
  color: #900ccb;
  border-color: #900ccb;
}
.avatar {
  position: relative;
  margin: 4rem;
  left: 2%;
}
.devIcon1 {
  margin: 3rem 0 0 0 0;
  height: 25rem;
  width: 25rem;
  margin-bottom: none;
  position: relative;
  left: 2%;
}
.greet {
  background-color: #900ccb;
  text-align: center;
  color: white;
  padding: 2rem;
  font-weight: 400;
  width: 100vw;
  height: 40rem;
}
.greetPhrase {
  width: 35%;
  font-size: 1.25rem;
  left: 32.5%;
  position: relative;
  margin-top: 5rem;
}
.cardIcon {
  height: 3rem;
  width: 3rem;
}
.skillCardContainer {
  width: 98%;
  top: 19%;
  margin-bottom: 1rem;
  height: 25rem;
}
.skillCards {
  margin-bottom: 1rem;
  z-index: 1;
  top: 65%;
  left: 12%;
  width: auto;
  height: 6rem;
}

.projectCards {
  max-width: 98%;
  position: relative;
  right: auto;
  left: 1.5%;
  width: 100%;
  margin-top: 10rem;
}

.projects {
  position: absolute;
  top: 125%;
  left: 7%;
  right: auto;
  width: 90%;
}
/* .projectCards {
    max-width: 90%;
    margin-top: auto;
    position: relative;
    left: 6%;
  }

  .projects {
    position: absolute;
    top: 195%;
    left: 8%;
    width: 95%;
  } */
.projectCardBody {
  transition-duration: 1s;
  background-color: #300ccb;
  color: white;
}
.modalBtn {
  border: 10px solid white;
  background-color: #300ccb;
  border: 3px solid #900ccb;
  border-radius: 15px;
  margin: 2px;
  position: absolute;
  bottom: 15%;
  right: 48.7%;
}
.hoverImg {
  background-size: 100% 100%;
  height: 16rem;
  border-radius: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-position: cover;
  /* position: relative;
    right: 5%; */
}
.contactBox {
  padding-top: 2%;
  padding-bottom: 10%;
  background-color: #300ccb;
  position: absolute;
  height: 2.5rem;
  width: 90%;
  left: 8%;
  top: 174%;
  bottom: 10%;
  border-radius: 10px;
  z-index: 2;
}
.contactText {
  position: relative;
  top: 0;
}
.contactHeading {
  font-size: 2rem;
  color: white;
  position: relative;
  top: 0%;
}
.contactParagraph {
  color: white;
  position: relative;
  bottom: 190%;
}
.contactModal {
  height: 22rem;
}
.footer {
  width: 100vw;
  height: 40rem;
  background-color: #900ccb;
  top: 180%;
  position: absolute;
  padding-bottom: 50%;
}
.textFooter {
  position: absolute;
  top: 30%;
  left: 10%;
}
.email {
  color: white;
  position: absolute;
  /* top: 60%; */
  right: 35%;
}
.footerBtnContainer {
  position: absolute;
  height: 20rem;
  width: 40rem;
  background-color: none;
  left: 45%;
  top: 42%;
}
.footerBtn {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  top: 0%;
  margin: 2rem;
  right: 20%;
  left: auto;
}
.logoFooter {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 20%;
  right: 49.5%;
  z-index: 2;
}
.floaterBtn {
  border: none;
  position: fixed;
  background-color: #900ccb;
  z-index: 1000;
  left: 96%;
  top: 88%;
  border-radius: 70%;
  height: 3.25rem;
  width: 3.25rem;
  font-size: 2rem;
  color: white;
  opacity: 80%;
  font-weight: 800;
}

@media only screen and (max-width: 500px) {
  * {
    text-align: center;
  }
  .App {
    text-align: center;
    min-width: 88vw;
    max-width: 88vw;
  }
  html {
    width: 88vw;
  }
  .intro {
    margin-top: 10%;
    position: relative;
    left: 6%;
    font-size: 2.7rem;
  }
  .navigate {
    max-width: 97%;
    left: 6.5%;
    width: 100vw;
  }
  .menuBtn {
    position: relative;
    left: 130%;
    color: #900ccb;
    border-color: #900ccb;
  }
  .avatar {
    position: relative;
    margin: 4rem;
    left: 6%;
  }
  .devIcon1 {
    height: 22rem;
    width: 22rem;
    margin-bottom: none;
    position: relative;
    left: 6.5%;
  }
  .greet {
    background-color: #900ccb;
    text-align: center;
    color: white;
    padding: 2rem;
    font-weight: 400;
    width: 100vw;
  }
  .greetPhrase {
    width: 90%;
    font-size: 1.25rem;
    left: 5%;
    position: relative;
    margin-top: 2.5rem;
  }
  .cardIcon {
    height: 3rem;
    width: 3rem;
  }
  .skillCardContainer {
    width: 98%;
    top: 35%;
    margin-bottom: 1rem;
    height: 30rem;
    right: 10%;
  }

  .skillCards {
    margin-bottom: 1rem;
    z-index: 1;
    top: 65%;
    left: 25%;
    width: auto;
    height: 6rem;
  }
  .projectCards {
    max-width: 90%;
    margin-top: auto;
    position: relative;
    left: 6%;
  }

  .projects {
    position: absolute;
    top: 195%;
    left: 8%;
    width: 95%;
  }
  .projectCardBody {
    transition-duration: 1s;
    background-color: #300ccb;
    color: white;
  }
  .modalBtn {
    border: 10px solid white;
    background-color: #300ccb;
    border: 3px solid #900ccb;
    border-radius: 15px;
    margin: 2px;
    position: absolute;
    bottom: 2%;
    right: 33%;
  }
  .hoverImg {
    background-size: 100% 100%;
    height: 16rem;
    border-radius: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: cover;
    /* position: relative;
    right: 5%; */
  }
  .contactBox {
    padding-top: 15%;
    padding-bottom: 30%;
    background-color: #300ccb;
    position: absolute;
    height: 12.5rem;
    width: 96%;
    left: 8.5%;
    top: 280%;
    bottom: 10%;
    border-radius: 10px;
    z-index: 2;
  }
  .contactHeading {
    font-size: 1.5rem;
    color: white;
    bottom: -50%;
    left: 0%;
    height: 10rem;
  }
  .contactParagraph {
    color: white;
    position: absolute;
    bottom: -35%;
    height: 10rem;
  }
  .contactModal {
    height: 20rem;
    /* width: 2rem; */
    /* position: absolute;
    right: 50%; */
  }
  .contactBtn {
    position: absolute;
    bottom: 25%;
  }
  .email {
    color: white;
    position: absolute;
    left: 10%;
    top: 1%;
    /* z-index: 3; */
  }

  .footer {
    width: 100vw;
    height: 40rem;
    background-color: #900ccb;
    top: 285%;
    position: absolute;
  }
  .textFooter {
    position: absolute;
    top: 42%;
    left: 10%;
  }

  .footerBtnContainer {
    position: absolute;
    height: 5rem;
    width: 20rem;
    background-color: none;
    left: 8%;
    top: 75%;
  }
  .footerBtn {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    top: 0%;
    margin: 0.7rem;
    right: auto;
    left: 2%;
  }
  .logoFooter {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 27%;
    right: 41%;
    z-index: 2;
  }
  .floaterBtn {
    border: none;
    position: fixed;
    background-color: #900ccb;
    z-index: 1000;
    left: 83%;
    top: 86%;
    border-radius: 70%;
    height: 3.25rem;
    width: 3.25rem;
    font-size: 2rem;
    color: white;
    opacity: 80%;
    font-weight: 800;
  }
}
